
/* === SIDEBAR === */
aside {
  grid-area: sidebar;
  position: fixed;
  align-self: start;
  display: none;
  width: 300px;
  top: 0;
  height: 100vh;
  z-index: 20;
  background-color: #333;
  color: white;
  opacity: 0.99;
}

.sidebar-items {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

@media (min-width: 800px) {
  aside {
    display: grid;
    justify-items: center;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 5rem);
    z-index: 2;
  }
}

.show {
  display: grid !important;
  justify-items: center;
}

/* === MOBILE MENU === */
#mobilemenu {
  background-color: #001e62;
  border: 2px solid #eaeaea54;
  opacity: 0.9;
  border-radius: 1rem;
  width: 90%;
  height: 4rem;
  display: block;
  position: fixed;
  bottom: 2rem;
  left: 5%;
  right: 5%;
  z-index: 50;
  align-content: center;
  margin-right: 1rem;
}

.mobile-menu-list {
  justify-self: center;
}

.mobile-menu-list a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

@media (min-width: 800px) {
  #mobilemenu {
    display: none;
    z-index: 1;
  }
}

/* === MODAL === */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.show {
  display: flex !important;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal.hidden {
  display: none !important;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#categoryList,
#priceList {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

#categoryList li,
#priceList li {
  margin: 0.5rem 0;
}

#categoryList button,
#priceList button {
  width: 100%;
  padding: 0.75rem;
  background-color: #6f1cae;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#categoryList button:hover,
#priceList button:hover {
  background-color: #4721b1;
}

